<template>
    <div class="container">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-content">
                        <p>Браузер: <b>{{BrowserDetect.browser}}</b></p>
                        <p>Версия: <b>{{BrowserDetect.version}}</b></p>
                        <p>
                            <router-link to="/">На главную</router-link>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    //import {isMobile, BrowserDetect} from '../core/detect_browser'

    export default {
        name: "check",
        data: () => ({
            isMobile,
            BrowserDetect
        })
    }
</script>

<style scoped>

</style>