<template>
    <div class="container">
        <div class="row" v-if="item">
            <div class="col s12">
                <div class="card">
                    <div class="">
                        <img :src="item.img" width="100%" v-if="!video" />
                        <img :src="item.img" width="100%" v-if="video && isLoading" />
                        <video autobuffer ref="videoBig"
                               :poster="item.img"
                               :src="video" v-if="video"
                               :controls="false"
                               :class="{isLoading}"
                               :style="`background-image: url(${item.img})`"
                               id="my-video"
                        />
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title" v-html="item.name"/>
                            <div v-for="item  in log" v-text="item" v-show="false" />
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <p v-html="item.desc"/>
                    </div>
                    <div class="collection" v-if="children">
                        <template v-for="(item, index) in children">
                            <router-link
                                    class="collection-item" :key="`item-${index}`"
                                    :to="`/${item.idRoot}/${hasValue(item.to) ? item.to : item.id}`"
                            >
                                <span>
                                    <img :src="item.img" v-show="item.img"/>
                                </span>
                                <span v-html="item.name"/>
                            </router-link>
                        </template>
                        <router-link
                                v-if="item && item.idParent"
                                class="collection-item"
                                :to="`/${item.idRoot}/${item.idParent}`"
                        >
                            <img/>
                            <span>Возврат</span>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // @ is an alias to /src
    export default {
        name: 'ViewMobile',
        async created() {
            //console.error = this.logErrors
            //console.log = this.logErrors
            try {
                //let toast = M.toast({html: "Загрузка"})
                console.log('load')
                await this.$store.dispatch('load', this.idRoot)
                console.log('load end')
                //toast.dismiss();
                BrowserDetect.init();
                //if (BrowserDetect.browser == 'Safari') this.isShowNav = true
            } catch(err) {
                console.log({err})
            }
        },
        async mounted() {
        },
        watch: {
            '$route'() {
                if (!this.$store.state.items.find(item => item.id == this.id)) {
                    //let toast = M.toast({html: "Загрузка"})
                    this.$store.dispatch('load', this.id)
                    //toast.dismiss();
                }
                this.isShowVideo = false;
                this.isPlayVideo = false;
            },
        },
        computed: {
            id() {
                return this.$route.params.id
            },
            idRoot() {
                return this.$route.params.idRoot || 'first'
            },
            isShowBigVideo() {
                return this.item.VideoBig && !this.item.VideoSmall
            },
            isShowSmallVideo() {
                return this.item.VideoSmall
            },
            video() {
                try {
                    if (!this.item) return false
                    let video = false;
                    if (this.item.VideoBig) 
                        video = this.item.VideoBig
                    video = this.item.VideoSmall
                    console.log({video})
                    if (video) {
                        this.setEventClick()
                    }
                    return video
                } catch(err) {
                    console.log({err})
                    return false
                }
            },
            items() {
                return this.$store.state.items;
            },
            item() {
                console.log('item')
                var item = {};
                if (this.current)
                    item = this.$store.state.items.find(item => item.id == this.current);
                else
                    item = this.$store.state.items.find(item => item.idParent == null);
                return item;
            },
            children() {
                return this.$store.state.items
                    .filter(item => item.idParent == this.item.id)
                    .sort( (item1, item2) => Number(item1.sort) >= Number(item2.sort) ? 1 : -1 );
            },
            current() {
                let id = this.id;
                return (id == 'null' || !id) ? false : id;
            },
            isShowPrev() {
                return this.hasValue(this.item.img) && !this.isShowBigVideo && !this.isShowSmallVideo;
            }
        },
        components: {},
        data: () => ({
            isShowNav: false,
            isShowVideo: true,
            isPlayVideo: false,
            log: ['log4'],
            isLoading: false,
        }),
        methods: {
            async setEventClick() {
                await this.$nextTick()
                var vm = this;
                setTimeout(function() {
                    document.getElementById('my-video').onclick = vm.showVideo;
                    document.getElementById('my-video').ontouchstart= vm.showVideo;
                }, 1000)
            },
            hasValue(value) {
                //console.log(value)
                if (value === '' || value === null || value === '0') return false;
                return value
            },
            logErrors(err) {
                this.log.unshift(err)
            },
            showVideo(e) {
                try {
                    console.log('ta1p')
                    e.target.play();
                    this.isShowVideo = true;
                    this.$nextTick(function () {
                        console.log('start')
                        this.$nextTick(function () {
                            e.target.play();
                            var vm = this;
                            this.$refs.videoBig.onended = function () {
                                vm.isShowVideo = false;
                                e.target.load();
                                vm.isLoading = false
                                console.log('end')
                            }
                            setInterval(() => {
                                if (vm.isShowVideo)
                                    vm.isLoading = !vm.$refs.videoBig.played.length
                            }, 10);
                        });
                    })
                } catch (err) {
                    this.log.push(JSON.stringify(err))
                }
            },
            play(e) {
                try {
                    e.target.play()
                } catch (e) {
                    //let toast = M.toast({html: "Ошибка воспроизведения"})
                    alert("Ошибка воспроизведения")
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .isLoading {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
    }

    .card-image {
        min-width: 300px;
    }

    .card-image img {
        width: 100%;
    }

    .collection a.collection-item:not(.active):hover {
        background-color: transparent;
    }

    video {
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        opacity: 1;
    }


    .collection a {
        display: flex;
        flex-direction: column;
        //align-items: center;
        justify-content: start;

        img {
            grid-area: img;
            width: 100%;
            margin-bottom: 5px;
        }
        span {
        }

        //margin-bottom: 40px;
    }

    #btn-edit {
        position: fixed;
        bottom: 3vw;
        right: 3vw;
    }

    #btn-play {
        position: relative;
        top: calc(-50% + 16px);
        left: calc(50% - 16px);
    }
</style>